# Pre-Processing Data
# Latihan 4
## Data weatherAUS

In [1]:
import numpy as np
import pandas as pd

In [2]:
weather = pd.read_csv("D:\DATA MINING\weatherAUS.csv",sep=",")

In [3]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

## Statistika Deskriptif

In [4]:
weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [5]:
from scipy.stats import mode
print([weather['WindGustDir'].mode()],
      [weather['WindDir9am'].mode()],
      [weather['WindDir3pm'].mode()],
      [weather['RainToday'].mode()],
      [weather['RainTomorrow'].mode()])

[0    W
dtype: object] [0    N
dtype: object] [0    SE
dtype: object] [0    No
dtype: object] [0    No
dtype: object]

## Mendeteksi dan Mengatasi Missing Value

In [6]:
np.sum(weather.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

### Mengatasi Missing Value dengan Imputasi Mean

In [7]:
weather['MinTemp'] = weather['MinTemp'].fillna(weather['MinTemp'].mean())
weather['MaxTemp'] = weather['MaxTemp'].fillna(weather['MaxTemp'].mean())
weather['Rainfall'] = weather['Rainfall'].fillna(weather['Rainfall'].mean())
weather['Evaporation'] = weather['Evaporation'].fillna(weather['Evaporation'].mean())
weather['Sunshine'] = weather['Sunshine'].fillna(weather['Sunshine'].mean())
weather['WindGustSpeed'] = weather['WindGustSpeed'].fillna(weather['WindGustSpeed'].mean())
weather['WindSpeed9am'] = weather['WindSpeed9am'].fillna(weather['WindSpeed9am'].mean())
weather['WindSpeed3pm'] = weather['WindSpeed3pm'].fillna(weather['WindSpeed3pm'].mean())
weather['Humidity9am'] = weather['Humidity9am'].fillna(weather['Humidity9am'].mean())
weather['Humidity3pm'] = weather['Humidity3pm'].fillna(weather['Humidity3pm'].mean())
weather['Pressure9am'] = weather['Pressure9am'].fillna(weather['Pressure9am'].mean())
weather['Pressure3pm'] = weather['Pressure3pm'].fillna(weather['Pressure3pm'].mean())
weather['Cloud9am'] = weather['Cloud9am'].fillna(weather['Cloud9am'].mean())
weather['Cloud3pm'] = weather['Cloud3pm'].fillna(weather['Cloud3pm'].mean())
weather['Temp9am'] = weather['Temp9am'].fillna(weather['Temp9am'].mean())
weather['Temp3pm'] = weather['Temp3pm'].fillna(weather['Temp3pm'].mean())
weather['RISK_MM'] = weather['RISK_MM'].fillna(weather['RISK_MM'].mean())

### Mengatasi Missing Value dengan Imputasi Modus

In [8]:
weather['WindGustDir'] = weather['WindGustDir'].fillna(weather['WindGustDir']).dropna().mode()[0]
weather['WindDir9am'] = weather['WindDir9am'].fillna(weather['WindDir9am']).dropna().mode()[0]                                                    
weather['WindDir3pm'] = weather['WindDir3pm'].fillna(weather['WindDir3pm']).dropna().mode()[0]
weather['RainToday'] = weather['RainToday'].fillna(weather['RainToday']).dropna().mode()[0]
weather['RainTomorrow'] = weather['RainTomorrow'].fillna(weather['RainTomorrow']).dropna().mode()[0]
np.sum(weather.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

## Mengatasi Outlier

In [9]:
from scipy import stats
weather1=weather.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
z = np.abs(stats.zscore(weather1._get_numeric_data()))
print(z)
weather=weather[(z<3).all(axis=1)]
print(weather.shape)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02 2.81630573e-01]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01 2.81630573e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01 2.81630573e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01 2.81630573e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01 2.81630573e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01 4.27019439e-14]]
(134753, 24)

In [10]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,N,...,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.468232,7.611178,W,44.0,N,...,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.468232,7.611178,W,46.0,N,...,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.468232,7.611178,W,24.0,N,...,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,N,...,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,0.2,No

## Transformasi

### Normalisasi

In [15]:
from sklearn.preprocessing import normalize

x=weather1
x.tail()
xnorm=normalize(x,norm='l2') #default norm L2, other are L1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
145455,0.001934,0.016161,0.0,0.003777,0.005257,0.021410,0.008978,0.007597,0.035222,0.016575,0.707626,0.704656,0.003072,0.003115,0.006975,0.015470,0.000000
145456,0.002489,0.017492,0.0,0.003781,0.005262,0.015211,0.008988,0.006223,0.038718,0.014519,0.707643,0.704601,0.003075,0.003118,0.007536,0.016939,0.000000
145457,0.003742,0.018639,0.0,0.003789,0.005274,0.025637,0.006236,0.006236,0.036723,0.016629,0.707433,0.704523,0.003082,0.003125,0.008661,0.018084,0.000000
145458,0.005410,0.018728,0.0,0.003793,0.005279,0.019422,0.009017,0.004855,0.035376,0.016647,0.707095,0.705083,0.002081,0.001387,0.010474,0.018035,0.000000
145459,0.010317,0.016078,0.0,0.003786,0.005270,0.027720,0.011771,0.011771,0.042928,0.024926,0.706381,0.704789,0.005539,0.005539,0.010386,0.014471,0.001635

### Transformasi Variabel Kategorik

In [24]:
weather['RainToday'].replace({'No':0, 'Yes':1}, inplace=True)
weather['RainTomorrow'].replace({'No':0, 'Yes':1}, inplace=True)

from sklearn import preprocessing
le=prepocessing.LabelEncoder()
aa=le.fit(weather.iloc[0:,3])
a=le.transform(weather.ilooc[0:,3])
bb=le.fit(weather.iloc[0:,5])
b=le.transform(weather.iloc[0:,5])
cc=le.fit(weather.iloc[0:,6])
c=le.transform(weather.iloc[0:,6])

weather['WindGustDir']=a
weather['WindDir9am']=b
weather['WindDir3pm']=c
weather.head()

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

## Feature Selection

In [31]:
from sklearn.feature_selection import SelectKBest, chi2, f_regression
Xx=x.drop(['WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'])
y=x.iloc[0:,2:4]
selector=SelectKBest(f_regression, k="all").fit(Xx,y)
X_new=selector.transform(Xx)
scores=selector.scores_
scores

KeyError: "['WindGustDir' 'WindDir9am' 'WindDir3pm' 'RainToday' 'RainTomorrow'] not found in axis"