In [1]:
#This is a comment line
print("Hello World! " * 3)

Hello World! Hello World! Hello World!

# Praktikum 1

## Praktikum 1

In [2]:
#list

fruits = ["apple","banana"]
another_list = ['this is string', 10]
print(fruits)
print(another_list)
combined = [fruits, another_list]
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [3]:
#add element to list 
fruits = ["apple","banana"]
fruits.append("orange")
print(fruits)

fruits = fruits + ["mango"]
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [4]:
#tuple
coordinate=(0,5)
colors=("red","green","blue")
print(coordinate)
print(colors)

(0, 5)
('red', 'green', 'blue')

In [5]:
#data integration
import pandas as pd
import numpy as np

In [6]:
#merging
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

result = pd.merge(left, right, on='key')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [7]:
#multiple key
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                'key2': ['K0', 'K1', 'K0', 'K1'],
                'A': ['A0', 'A1', 'A2', 'A3'],
                'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

result2 = pd.merge(left, right, on=['key1', 'key2'])
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [8]:
#concenatating
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                'B': ['B0', 'B1', 'B2', 'B3'],
                'C': ['C0', 'C1', 'C2', 'C3'],
                'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                'B': ['B4', 'B5', 'B6', 'B7'],
                'C': ['C4', 'C5', 'C6', 'C7'],
                'D': ['D4', 'D5', 'D6', 'D7']})
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                'B': ['B8', 'B9', 'B10', 'B11'],
                'C': ['C8', 'C9', 'C10', 'C11'],
                'D': ['D8', 'D9', 'D10', 'D11']})

frames = [df1, df2, df3]
result3 = pd.concat(frames)
result3

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [9]:
#marging
data1 = pd.read_csv(r"D:\DATA MINING\nn.csv")
data2 = pd.read_csv(r"D:\DATA MINING\mm.csv")

data_complete = pd.merge(data1, data2, on = 'ID')
print(data_complete)

   ID   X  Y
0   1  22  2
1   2  32  3
2   3  21  1
3   4  34  4
4   5  56  6